<div>
    <ul class="leftmenu">
        <li><a href="/">Домашняя</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/about">О нас</a></li>
    </ul>
    <ul class="rightmenu">
        <li><a href="/login">Вход</a></li>
        <li><a href="/register">Регистрация</a></li>
    </ul>
</div>
