<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    {% include 'header.twig' %}
    <h1>{{title}}</h1>
    <form action="/register" method="POST" enctype="multipart/form-data">
        <input type="text" name="login" placeholder="Логин"><br />
        <input type="password" name="password" placeholder="Пароль"><br />
        <input type="password" name="password_v" placeholder="Подтверждение пароля"><br />
        <input type="text" name="email" placeholder="Email"><br />
        <input type="file" name="avatar" placeholder="avatar"><br />
        <input type="submit" value="Зарегистрироваться">
    </form>
</body>
</html>
